name: Build latest
on:
  schedule:
    - cron: '0 */8 * * *'
  push:
    branches:
      - master
  workflow_dispatch:
    inputs:
      build_all:
        description: Build latest V Rising version
        required: false
        type: boolean
  repository_dispatch: { }
jobs:
  docker:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup go
        uses: actions/setup-go@v3
        with:
          go-version: '1.17'
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Login to Dockerhub Container Registry
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build go binary
        run: |
          go build
      - name: Run binary
        env:
          GITHUB_REGISTRY: ghcr.io/${{ github.repository }}
        run: |
          ./vrising-server

